@model Bestshooter.Models.DomainModel.Game

@{
    ViewBag.Title = "افزودن بازی";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@using (Html.BeginForm("NewGame", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div>
        <div dir="rtl" style="margin: 50px;">
            <a href="@Url.Action("games", "Admin")" class="btn btn-info">بازگشت به لیست بازی ها</a>
        </div>
        <div dir="rtl" style="background-color: #0094ff;">
            <h1>افزودن بازی جدید</h1>
        </div>
    </div>
    <div dir="rtl" style="margin: 50px;">
        <div class="editor-label">
            <label style="font-size: 20px; margin: 10px;">نام</label>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", style = "width:250px;margin: 10px;", required = "required" })
        </div>
        <div class="editor-label">
            <label style="font-size: 20px; margin: 10px;">عکس در mainpage</label>
        </div>
        <div class="editor-field">
            @Html.Upload("Main", new { required = "required", style = "margin: 10px;" })
        </div>
        <div class="editor-label">
            <label style="font-size: 20px; margin: 10px;">عکس در صفحه بازی</label>
        </div>
        <div class="editor-field">
            @Html.Upload("Gamepic", new { required = "required", style = "margin: 10px;" })
        </div>
        <div class="editor-label">
            <label style="font-size: 20px; margin: 10px;">عکس alternative</label>
        </div>
        <div class="editor-field">
            @Html.Upload("Alter", new { style = "margin: 10px;" })
        </div>
        <div class="editor-label">
            <label style="font-size: 20px; margin: 10px;">جمله ابتدایی</label>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Preface, new { @class = "form-control", style = "width:500px;margin: 10px;", rows = "6", required = "required" })
        </div>
        <div class="editor-label">
            <label style="font-size: 20px; margin: 10px;">توضیحات</label>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Cont, new { @class = "form-control", style = "width:500px;margin: 10px;", rows = "12", required = "required" })
        </div>
        <div style="margin: 10px; margin: 10px;">
            <input type="submit" class="btn btn-success" value="افزودن" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
