@model Bestshooter.Models.DomainModel.Setting

@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div dir="rtl" style="background-color: #0094ff;">
    <h1>تنظیمات سایت</h1>
</div>

@using (Html.BeginForm("UpdateSetting", "Admin", FormMethod.Post))
{
    @Html.ValidationSummary(true)


    @Html.HiddenFor(model => model.Id)
    <div dir="rtl" style="margin: 50px;">
        @if (TempData["backfromsetts"] == "nok")
        { 
            <h1 style="background-color: #ff0000;">مشکل در دیتابیس</h1>
        }
        else if (TempData["backfromsetts"] == "ok")
        {
            <h1 style="background-color: #4cff00;">با موفقیت ثبت شد</h1>   
        }
        <div class="editor-label">
            <label style="font-size: 20px; margin: 10px;">تگ ها</label>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Tags, new { @class = "form-control", style = "width:250px;margin: 10px;" })
        </div>

        <div class="editor-label">
            <label style="font-size: 20px; margin: 10px;">لینک های سایت</label>
        </div>
        <div class="editor-field">
            @if (Model.Links != null)
            {
                <a target="_blank" href="@Model.Links">لینک فعلی سایت</a>
            }
            @Html.TextBoxFor(model => model.Links, new { @class = "form-control", style = "width:250px;margin: 10px;" })
        </div>

        <div class="editor-label">
            <label style="font-size: 20px; margin: 10px;">ایمیل سایت</label>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", style = "width:250px;margin: 10px;", required = "required" })
        </div>

        <div class="editor-label">
            <label style="font-size: 20px; margin: 10px;">شماره همراه</label>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", style = "width:250px;margin: 10px;", required = "required" })
        </div>

        <div class="editor-label">
            <label style="font-size: 20px; margin: 10px;">شماره ثابت</label>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Tell, new { @class = "form-control", style = "width:250px;margin: 10px;" })
        </div>

        <div class="editor-label">
            <label style="font-size: 20px; margin: 10px;">لینک تلگرام</label>
        </div>
        <div class="editor-field">
            <a target="_blank" href="@Model.Telegram">لینک فعلی تلگرام</a>
            @Html.TextBoxFor(model => model.Telegram, new { @class = "form-control", style = "width:250px;margin: 10px;", required = "required" })
        </div>

        <div class="editor-label">
            <label style="font-size: 20px; margin: 10px;">لینک اینستاگرام</label>
        </div>
        <div class="editor-field">
            <a target="_blank" href="@Model.Instagram">لینک فعلی اینستاگرام</a>
            @Html.TextBoxFor(model => model.Instagram, new { @class = "form-control", style = "width:250px;margin: 10px;", required = "required" })
        </div>

        <div class="editor-label">
            <label style="font-size: 20px; margin: 10px;">لینک یوتوب</label>
        </div>
        <div class="editor-field">
            <a target="_blank" href="@Model.Youtube">لینک فعلی یوتوب</a>
            @Html.TextBoxFor(model => model.Youtube, new { @class = "form-control", style = "width:250px;margin: 10px;", required = "required" })
        </div>

        <div class="editor-label">
            <label style="font-size: 20px; margin: 10px;">لینک آپارات</label>
        </div>
        <div class="editor-field">
            <a target="_blank" href="@Model.Aparat">لینک فعلی آپارات</a>
            @Html.TextBoxFor(model => model.Aparat, new { @class = "form-control", style = "width:250px;margin: 10px;", required = "required" })
        </div>
        <div style="margin: 10px; margin: 10px;">
            <input type="submit" class="btn btn-success" value="ثبت تغییرات" />
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
